.container {
    color: white;
    display: inline-flex;
    flex-direction: column;
    border: 5px solid gold;
}

.container > * {
    flex-basis: 100px;
}

.red {
  background-color: red;  
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
}

.green {
    background-color: green;
}