* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: #080808;
    color: #fff;
}
/* --------------------header section start-------------------- */
.header {
    position: fixed;
    height: 12vh;
    width: 100%;
    padding: 20px 100px;
    background-color: #080808;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fbc403;
}

.nav-logo {
    font-size: 25px;
    font-weight: bold;
}

.nav-logo span {
    color: #fbc403;
}

.hamburger {
    display: none;
}
    
.nav-bar ul li {
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    margin: 10px;
    list-style: none;
}

.nav-bar li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
    transition: 0.2s;
}

.nav-bar li a:hover {
    /* border-bottom: 2px solid #fbc403;
    color: #fbc403; */
    background-color: #fbc403;
    color: #080808;
}
/* --------------------header section end-------------------- */

/* --------------------home section start-------------------- */
.home {
    height:100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fbc403;
}

.home-content {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.home-container span {
    color: #fbc403;
}

.home-content h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 900;
}

.home-content span {
    color: #fbc403;
}

/* .home-content h1 {
    text-shadow: 0 0 7px rgba(251,196,3,.5), 0 0 3px rgba(251,196,3,.5);
} */

.home .image {
    padding-top: 100px;
    height: 100vh;
    width: 50%;
    /* background-color: yellow; */
}

.home .image img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* --------------------home section end-------------------- */

/* --------------------about section start-------------------- */
.about{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
}
/* --------------------about section end-------------------- */





/* responsiveness section start */

/* header section start */
@media only screen and (max-width: 1320px) {
    .header {
        padding: 0 70px;
    }
}

@media only screen and (max-width: 1100px) {
    .header {
        padding: 0 40px;
    }
}

@media only screen and (max-width: 950px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fff;
        margin: 6px 0;
    }
    .nav-bar {
        height: 0;
        position: absolute;
        top: 12vh;
        left: 0;
        right: 0;
        width: 100%;
        background: #080808;
        transition: 0.2s;
        overflow: hidden;
    }
    .nav-bar .active {
        height: 400px;
    }
    .nav-bar ul {
        display: flex;
        width: fit-content;
        margin: 10px auto 0 auto;
        text-align: center;
        flex-direction: column;
        transition: 0.2s;
        opacity: 0;
    }
    .nav-bar .active ul {
        opacity: 1;
    }
    .nav-bar ul li {
        font-size: 40px;
        font-weight: 600;
    }
    .nav-bar ul li a {
        margin-bottom: 30px;
    }
}
/* header section end */

/* responsiveness section end */