* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;/
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: #080808;
    color: #fff;
}

/* --------------------header section start-------------------- */

.header {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

.navbar {
    height: 12vh;
    width: 100%;
    padding: 20px 15%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    font-size: 25px;
    font-weight: 900;
}

.nav-logo span {
    color: #fbc403;
}

.nav-menu {
    font-size: 20px;
}

.nav-menu ul li {
    display: inline-block;
    margin: 10px;
    list-style: none;
}

.nav-menu ul li a {
    text-decoration: none;
    color: white;
}

.nav-menu ul li a:hover {
    border-bottom: 2px solid #fbc403;
    /* color: #fbc403; */
}

/* --------------------header section start-------------------- */