* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
}

.container {
    height: 900px;
    width: 1350px;
    background-color: black;
}

.header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: red;
    gap: 350px;
}

.logo {
    font-size: 20px;
    padding: 20px;
    margin-left: 30px;
    font-weight: 900;
}

.navbar {
    font-size: 20px;
}

