* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url(./images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}