* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    height: 300px;
    width: 250px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    overflow: hidden;
}

#container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#container i{
    color: red;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: transform ease 0.5s;
}