* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;
}

html,body {
    height: 100%;
    width: 100%;
}

#nav {
     height: 130px;
     width: 100%;
     background-color: green;
     display: flex;
     align-items: center;
     padding: 0 130px;
     gap: 40px;
     justify-content: flex-start;
}

#nav img { 
    height: 65px;
}

#nav h4 {
    font-weight: 500;
}